:root{
    --bg-color:#0F1624;
     --color-primary:#999999;
     --color-light-bg:#F6F6F6;
     --color-light-gray:#7E7C7C;
     --color-dark-gray:#6D6D6D;
     --color-black:#000;
     --color-pink:#FFE8E8;
    --breakpoint-xs: 400;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-roboto: "Roboto",sans-serif;
}
*,
*::before,
*::after{
    margin: 0;
    padding:0%;
    box-sizing: border-box;
}
html{
    font-family: var(--font-family-roboto);
    font-size: 62.5%;
}
body{
    background-color: var(--bg-color);
    color:var(--color-primary);
}
.header{
    position: relative;
}
.header{
    display: flex;
    flex-direction: row-reverse;
}

.nav{
    background-color: var(--color-light-bg);
    display: flex;
    justify-content: flex-end;
    gap:2rem;
    width: 75%;
    margin-left: auto;
}
.nav__menu{
    list-style: none;
    display: flex;
    color: var(--color-black);
    justify-content: space-between;
    margin-top:5rem;


}
.nav__menu-item .nav__menu-link{
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    text-transform: capitalize;
    

}

.nav__menu-item{
    margin-right: 10rem
}
.profile__picture{
 display: inline-block;

width:auto;
height: 100vh;
background-color: -var(--color-light-bg);

}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
     position: absolute;
     top:10%;
     left: 10%;;
     z-index: 1000;
     
}
.heading__primary{
    color: var(--color-primary);
    font-family: inherit;
    font-size: 10rem;
    font-weight: 900;
    font-style:normal;
    display: block;
    text-shadow: 0px 10px 10px rgba(10, 10, 10, 0.4); 
}
.social__links{
    width:100%;
    display: flex;
    justify-content: flex-start;
    
}
.social__links-container{
    padding-top: 4rem;
   justify-content: center;
   margin: 0 auto;
   width:100%;

}
.social__links-container li{
    display: inline-block;
    margin-left: 2rem;
    
}
.social__links-container a{
    text-decoration:  none;
    display: inline-block;
    color:var(--color-black);
    text-transform: capitalize;
    font-size: 2rem;
}
.download__btn{
    text-decoration:  none;
    color: var(--color-black);
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    background-color: var(--color-pink);
    position: absolute;
    bottom: 0;
    left: 20%;
    padding: 3.5rem 6rem;
    width:max-content;
    text-align: center;
    border: 1px solid black;
    letter-spacing:.75rem;
    word-spacing: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                 rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                 text-transform: uppercase;
    
}
#work{
    margin-top:10rem;
}
.heading__container{
 
    margin-bottom: 4rem;;
}
.heading__secondary{
    color: var(--color-primary);
    font-family: inherit;
    font-size: 7rem;
    font-weight: 800;
    font-style:normal;
    
    
}
.work__content{
    margin-left: 10%;
    font-size: 2rem;
    color: var(--color-primary);
    width: 85%;
}
.work__content h3{
    color:var(--color-dark-gray) ;
    font-weight:400;
    margin-bottom: .5rem;
}
.work__content p{
    color:var(--color-light-gray);
    font-size: 1.5rem;
    line-height: 1.5;
}
.col-1 p{
    text-transform: uppercase;
}
.col-2 p{
    margin-bottom: 1rem;
}
.two__col{
    display: flex;
    justify-content:space-between;
}
.col-item{
    margin-bottom: 4rem;
    
}
.cta__pill{
    text-decoration: none;
    border-radius: 100px;
    padding:.75rem 3rem;
    color:var(--color-black);
    text-transform: capitalize;
    background-color: var(--color-light-bg);
    font-size: 1rem;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all .5s;
}
.cta__pill:hover{
    background-color: orangered;
    color: white;
    font-size: 60%;
}
#projects{
    margin-top: 10rem;
    
}

.projects__grid{
    margin-left: 10%;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:10rem;
    padding:0 10rem;
}
.grid__item,
.grid__item img{
   
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
}

.grid__item img{
    border:2px solid var(--color-primary);
    padding:3px;

    height: auto;
    max-height: 550px;
    max-width: 100%;
}

.grid__item h4{

    
    font-weight: 500;
    font-size: 200%;
}
.grid__item p{
    font-size: 150%;
    line-height: 1.5;
    font-family: monospace;

}    
#light-font{
    color:var(--color-primary);
}       

